<!DOCTYPE html>
<header>
    <h1>Query the HuffingtonPost News Articles from 12/27/14 to 5/25/18</h1>
</header>
<form method="POST">
    <input type="submit" name="timeTravel" value="Prefer Recency to 5/25/18">
    <input type="submit" name="relevancy" value="Sort by Query Relevancy">
</form>
<form method="POST">
    <input name="text" size="75">
    <input type="submit">
</form>
<p>{{ queryText }}</p>
<table>
    {% for link, headline, shortDesc, authors, date in result %}
    <tr>
        <td><a href={{link}}>{{ headline }}</a><br>
            {{ shortDesc }}<br>
            {{ authors }}<br>
            {{ date }}
        </td>
    </tr>
    {% endfor %}
</table>

